body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(42, 50, 60); */
    background-color: rgb(83, 100, 116);
    color: white;
}

h1 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 760px;
    gap: 10px;
    margin: 0 auto; /* Centers the grid horizontally */
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(193, 193, 193);
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-item {
    text-align: center;
}
