body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(30, 40, 50);
    /* background-color: rgb(83, 100, 116); */
    color: white;
}

h1 {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 25px;
}

hr {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
}

p {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10px;
    line-height: 30px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 760px;
    gap: 10px;
    margin: 0 auto; /* Centers the grid horizontally */
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(10, 20, 30);
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-item {
    text-align: center;
}

/* NAVIGATION */
nav {
    background-color: rgb(10, 20, 30);
    border-radius: 5px;
    max-width: 780px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul img {
    margin-right: 10px;
    padding-left: 20px;
    vertical-align: middle;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: rgb(20, 30, 40);
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    vertical-align: auto;
    padding-bottom: 3px;
}

.mobile-menu {
    display: none;
}

@media (max-width: 500px) {
    .navlink {
        display: none;
    }
    
    .hamburger-menu {
        display: block;
    }

    nav ul {
        justify-content: space-between; /* Space between links and hamburger */
        align-items: center; /* Vertically center items */
        flex-wrap: wrap;
    }
    
    nav ul li {
        display: flex;
    }

    .mobile-menu {
        clear: both;
        text-align: left;
        display: none;
    }
}

/* LINKS */
/* unvisited link */
a:link {
    color: white;
    font-weight: bold;
}
  
/* visited link */
a:visited {
    color: white;
}
  
/* mouse over link */
a:hover {
    color: lightskyblue;
}
  
/* selected link */
a:active {
    color: cornflowerblue;
}